* {
    background-color: bisque;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
  }

  .header-container {
    display: flex;
    justify-content: center;
    width: auto;
  }
  
  .header {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }

  .left-header
  .right header {
    display: flex;
    align-self: flex-start;
  }

  .title-container {
    margin: 20px;
    width: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .page-link-container {
    display: flex;
    width: auto;
    padding: 20px 0;
    justify-content: space-around;
  }

  .page-link {
    display: flex;
    justify-self: auto;
    padding: 20px;
  }