* {
    background-color:bisque;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
  }


  .page-three-all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    justify-content: center;
    width: auto;
  }
  
  .header {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }

  .left-header
  .right header {
    display: flex;
    align-self: flex-start;
  }

  .title-container {
    margin: 20px;
    width: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .page-link-container {
    display: flex;
    width: auto;
    padding: 20px 0;
    justify-content: space-around;
  }

  .page-link {
    display: flex;
    justify-self: auto;
    padding: 20px;
  }

  .footer-container {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    bottom: 0px;
  }
  .page-one-content-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    width: auto;
  }

  .page-one-content-box {
    flex-direction: row;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .content-left
  .content-right {
    display: flex;
    align-self: flex-start;
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .step {
    max-width: 800px;
    min-width: 400px;
  }

  .step-title {
    padding: 10px;
  }

  .step-description {
    padding: 5px
  }

  .three-container {
    display: flex;
    justify-content: flex-start;
  }

  .left-bar {
    width: 200px;
    flex-shrink: 0;
  }

  .right-boxes {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    width: 160px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black
  }