/* All Pages */
* {
  margin: 0;
  padding: 0;
  border: solid red 1px;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

li {
  list-style: none;
  padding: 10px
}

a {
  text-decoration: none;
}

a:active {
  color: rgb(49, 137, 189);
}

a:visited {
  text-decoration: none;
  color: black
}

.body-column { /*make page into a vertical flex-box*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  height: 40px;
  padding: 0 30px;
  background-color: rgb(49, 137, 189);
  box-shadow: 0px 2px 1px rgba(0,0,0,.6);
}

.title {
  margin: 20px auto 0px;
  padding: 20px;
  width: auto;
  max-width: 580px;
  text-align: center;
  font-size: 24px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 40px;
  background-color: rgb(49, 137, 189);
}

/* Homepage */

.homepage-link-box {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  gap: 10px;
}

.homepage-link {
  font-size: 28px;
  padding: 16px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(214, 230, 255);
  box-shadow: 1px 2px 2px rgba(0,0,0,.6);
  text-decoration: none;
  background-color: rgba(214, 230, 255);
}

.homepage-link:hover {
  background-color: rgb(49, 137, 189);
}

.homepage-link:active {
  background-color: rgb(6, 52, 78)
}

/* Page 1: Food Menu */

.food-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 10px auto 40px;
  max-width: 400px;
  background-color: rgb(137, 193, 226);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0,0,0,.6);
}

.food-menu div {
  padding: 10px;
  gap: 95px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(214, 230, 255);
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

/* Page 2: How to Build an Ethryllic Icon */

/*subtitle*/
div.title h4 {
  margin-top: 30px;
}

.step {
  margin: auto;
  padding: 20px;
  max-width: 800px;
  min-width: 280px;
}

/*step-title*/
div.step h2 {
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: rgba(214, 230, 255);
  border-style: ridge;
  border-radius: 15px;
  border-width: 2px;
}

div.step p {
  letter-spacing: 0.6px;
  line-height: 24px;
  text-shadow: .5px .4px #0c0c2b;
  color: #0c0c25
}

/* Page 3: Photography */

.page-three {
  display: flex;
  flex: auto;
}

/* Left nav */
main.page-three nav {
  min-height: 100%;
  width: 200px;
  flex-shrink: 0;
  background-color: rgb(214, 230, 255);
  padding: 10px;
  margin-top: 9px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.6);
}

.picture-gallery {
  display: flex;  
  flex-wrap: wrap;
  height: 100%;
  padding-left: 5px;
}

/* Image containers */
div.picture-gallery figure {
  width: 180px;
  height: 120px;
  margin: 10px;
  border: transparent;
  box-shadow: 2px 4px 4px rgba(0,0,0,.6);
  border-radius: 5px;
}

/* Images */
main.page-three img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

/* Page 4: News Article */

.page-four-main {
  display: flex;
  align-self: center;
}

.left-bar,
.right-bar {
  background-color: rgb(214, 230, 255);
  padding: 10px;
  min-width: 130px;
}

.mid-bar {
  min-width: 116px;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

.mid-bar h3 {
  text-align: center;
}

.mid-bar p {
  max-width: 500px;
}

.news-image {
  display: block;
  margin: 40px auto 10px;
}

.news-image-description {
  text-align: center;
}

.news-quote {
  display: block;
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  font-style: italic;
  background-color: rgb(214, 230, 255);
  border-radius: 5px;
  box-shadow: 1px 3px 4px rgba(0,0,0,.6);
  text-align: center;
}

/* Page 5: Meow */

.meow-body {
  background-image: url(images/background-white.jpg);
  background-size: 1200px;
}

body.meow-body div.title {
  font-size: 10vh;
  text-shadow: 1px 2px 2px #111131;
}

.cat-box {
  margin: 10px 0px 0px 300px;
  position: fixed;
}

.cat-2-box {
  margin: -160 100 -100 100
}

.cat-3-box {
  margin: auto auto -20px 500px;
  bottom: 200px
}

  /* Page 6: Landing Page */

.p6-body {
  background-color: rgb(49, 137, 189);
}

.p6-top-container,
.p6-mid-container,
.p6-low-container,
.p6-last-container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.p6-welcome-box,
.p6-mid-boxes-container,
.p6-quote-box,
.sign-up-box {
  width: 800px;
  margin: auto 40px;
}

.p6-top-container {
  background-color: rgb(49, 137, 189);
  padding-top: 50px;
}

    .p6-welcome-box {
      display: flex;
      justify-content: space-around;
    }

    .p6-welcome {
      font-size: 24px;
      margin: auto;
    }

.p6-mid-container {
  background-color: rgb(6, 52, 78);
  box-shadow: inset 0px 0px 4px rgba(0,0,0,.6);
}

    .mid-boxes-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

        .p6-mid-box {
          padding: 50px;
          text-align: center;
        }

        .p6-pic-description {
          padding: 30px;
        }

  .quote-box {
    padding: 40px;
  }

  .quote {
    font-style: italic;
    padding: 10px;
  }

  .quote-author {
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
  }

.sign-up-box {
  background-color: rgb(6, 52, 78);
  border-radius: 15px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,.6);
}

.sign-up-button {
  font-size: 16px;
  height: 28px;
  width: 90px;
  border-radius: 4px;
  margin-left: 30px;
  background-color: rgb(49, 137, 189);
  border-color: rgb(49, 137, 189);
}

.sign-up-button:hover {
  background-color: rgb(6, 52, 78);
}

/* Page 7: Buttons */

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.big-button {
  height: 200px;
  width: 400px;
  font-size: 30px;
  padding: 16px;
  margin: 4px;
  border-style: ridge;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 1px 2px 1px rgba(0,0,0,.6);
  text-decoration: none;
  background-color:rgba(214, 230, 255)
}

.big-button:hover {
  background-color: rgb(49, 137, 189);
}

.big-button:active {
  background-color: rgb(6, 52, 78)
}

/* Page 8: Shows */

.p8-table caption{
  font: italic 800 38px 42px serif;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.p8-table {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
}

#p8-row-legend {
  font-weight: 500;
  font-size: 26px;
}

th,
td {
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.6);
  border-radius: 5px;
  background-color: rgba(214, 230, 255);
  font-size: 18px;
}

/* Page 9: Thoughts */

.p9-body {
  background-image: linear-gradient(white, rgb(49, 137, 189));
}

body.p9-body main {
  display: flex;
  justify-content: center;
}

.p9-nav {
  border-right: #0c0c2b 2px solid;
  padding: 80px 20px;
  margin: auto 0px;
  line-height: 26px;
}

.p9-nav a:hover {
  color: red
}

.p9-right {
  width: 300px;
  padding: 80px 20px;
  margin: auto 0px;
}

.p9-right:hover {
  color: green
}
/* Page 10: JavaScript */

.p10-body {
  background-image: linear-gradient(white, rgb(49, 137, 189));
}

.greeting-box {
  text-align: center;
}

#greeting {
  font-size: 32px;
  font-style: italic;
  text-shadow: 1px 2px 2px rgb(49, 137, 189);
  padding: 0px 0px 30px;
}

.p10-button {
  font-size: 18px;
  padding: 6px;
  border-color: black;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  text-decoration: none;
  background-color: white
}

.p10-button:hover {
  background-color: rgb(49, 137, 189);
}

.p10-button:active {
  background-color: rgb(6, 52, 78)
}

.p10-button:visited {
  background-color: red;
}

.p10-box {
  border: solid rgb(6, 52, 78);
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.6);
  background-color:rgb(222, 241, 252);
  width: 200px;
  margin: 10px auto;
  padding: 15px 0px;
}

.p10-box p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  background-color: rgb(91, 173, 221);
}

/* Page 12: */

.grid {
  display: grid;
  grid-template-columns: (100px, 200pz, 400px);
  grid-template-rows: repeat(3 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(100px, auto);
  row-gap: 20px;
  column-gap: 20px;
}

.pixel {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  background-color: blue;
}

/* Page 13: */

.thediv {
  width: 98vw;
  height: 99vh;
  background-color: pink;
  border: 1px solid blue;
  margin: auto;
}